body{
  font-family: Times New Roman;
  font-size: 80px;
  text-align: center;
  color: #001aff;
}
p{
  font-family: Palatino, 'Palatino Linotype', serif;
  font-size: 1.75rem;
  text-align: left;
  color: red;
}
